.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__pLSfw {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__pLSfw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__pLSfw > :global(.__wab_flex-container) > *,
.freeBox__pLSfw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pLSfw > :global(.__wab_flex-container) > picture > img,
.freeBox__pLSfw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pLSfw {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__x35P {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__p3Tr8 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__sgE2B:global(.__wab_instance) {
  position: relative;
}
.img__nFaLo {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__nFaLo > picture > img {
  object-fit: cover;
}
.img__nFaLo > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__ztjat:global(.__wab_instance) {
  position: relative;
}
.img__w37Bj {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__w37Bj > picture > img {
  object-fit: cover;
}
.img__w37Bj > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__inbvE:global(.__wab_instance) {
  position: relative;
}
.img__cnJxI {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__cnJxI > picture > img {
  object-fit: cover;
}
.img__cnJxI > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__poRBq:global(.__wab_instance) {
  position: relative;
}
.img__cb9YU {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__cb9YU > picture > img {
  object-fit: cover;
}
.img__cb9YU > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__gKTt {
  display: flex;
  flex-direction: column;
}
.freeBox__gKTt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gKTt > :global(.__wab_flex-container) > *,
.freeBox__gKTt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gKTt > :global(.__wab_flex-container) > picture > img,
.freeBox__gKTt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___3E3Ow {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__sMrf4 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox___3KMqz {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___3KMqz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___3KMqz > :global(.__wab_flex-container) > *,
.freeBox___3KMqz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3KMqz > :global(.__wab_flex-container) > picture > img,
.freeBox___3KMqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__dimM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__t582C:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__a4GUy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: Iytl65Sfzo-r */;
  width: 28px;
  height: 28px;
}
.text__dc7US {
  padding-left: 0px;
}
.column__emWe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__w1Da:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__l58ZH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: Iytl65Sfzo-r */;
  width: 28px;
  height: 28px;
}
.text__nLpZ1 {
  padding-left: 0px;
}
.column__q7T4M {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__gENop:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__i6Nh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: Iytl65Sfzo-r */;
  width: 28px;
  height: 28px;
}
.text__u03Hk {
  padding-left: 0px;
}
.column__jpuAp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__m87MN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__go8Dz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: Iytl65Sfzo-r */;
  width: 28px;
  height: 28px;
}
.text__rWhe {
  padding-left: 0px;
}
.freeBox__pnsI {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__pnsI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__pnsI > :global(.__wab_flex-container) > *,
.freeBox__pnsI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnsI > :global(.__wab_flex-container) > picture > img,
.freeBox__pnsI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pnsI {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__bDjvY {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__bDjvY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__bDjvY > :global(.__wab_flex-container) > *,
.freeBox__bDjvY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bDjvY > :global(.__wab_flex-container) > picture > img,
.freeBox__bDjvY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__l95Rt {
  display: flex;
  flex-direction: column;
}
.freeBox__l95Rt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__l95Rt > :global(.__wab_flex-container) > *,
.freeBox__l95Rt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l95Rt > :global(.__wab_flex-container) > picture > img,
.freeBox__l95Rt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gigSe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__y7Pt9 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y7Pt9 {
    text-align: center;
  }
}
.text__sJy7R {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__pPPf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pPPf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__pPPf > :global(.__wab_flex-container) > *,
.freeBox__pPPf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pPPf > :global(.__wab_flex-container) > picture > img,
.freeBox__pPPf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pPPf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pPPf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pPPf > :global(.__wab_flex-container) > *,
  .freeBox__pPPf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pPPf > :global(.__wab_flex-container) > picture > img,
  .freeBox__pPPf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___9JCa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__y2Xrb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__spXhO {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___98IM:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vSspi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gsatI {
  height: auto;
}
.priceCard__urIq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__fYtSn {
  color: #ff3b30 /* plasmic-token: 0k9AMtxSluF3 */;
}
.valueProp__nyMbp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wK98W {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ciMmr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ic5DA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkcGk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qlzoi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__umAe5 {
  height: auto;
}
.priceCard__cFbV:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__fe3Dw {
  color: #34c759 /* plasmic-token: zY4yNAYduS6s */;
}
.valueProp__uMbIv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hKKix {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hbxEs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lUx8Y {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__wgkJi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__x8VlK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lX7Ur:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xthuL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ab5GD {
  height: auto;
}
.priceCard__m1HoD:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pgYe {
  color: #007aff /* plasmic-token: TigXKu05Ekph */;
}
.valueProp__eYuAa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rNaPy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___3E2Tx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tdiiG {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hKhJd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aaOnq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__jGs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nrVpJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___9Uai {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
